@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  // Primary

  --clr-Light-red: hsl(0, 100%, 67%);
  --clr-Orangey-yellow: hsl(39, 100%, 56%);
  --clr-Green-teal: hsl(166, 100%, 37%);
  --clr-Cobalt-blue: hsl(234, 85%, 45%);

  --clr-Light-red-pale: hsla(0, 100%, 67%, 0.1);
  --clr-Orangey-yellow-pale: hsla(39, 100%, 56%, 0.1);
  --clr-Green-teal-pale: hsla(166, 100%, 37%, 0.1);
  --clr-Cobalt-blue-pale: hsla(234, 85%, 45%, 0.1);

  // Gradients

  --clr-Light-slate-blue: hsl(252, 100%, 67%); // (background)
  --clr-Light-royal-blue: hsl(241, 81%, 54%); // (background)

  --clr-Violet-blue: hsla(256, 72%, 46%, 1); //(circle)
  --clr-Persian-blue: hsla(241, 72%, 46%, 0); //(circle)

  // Neutral

  --clr-White: hsl(0, 0%, 100%);
  --clr-White-bg: hsl(0, 0%, 100%);
  --clr-White-bg-secondary: hsl(0, 0%, 100%);
  --clr-Black: black;

  --clr-Pale-blue: hsl(221, 100%, 96%);
  --clr-Light-lavender: hsl(241, 100%, 89%);
  --clr-Dark-gray-blue: hsl(224, 30%, 27%);

  --border-radius: 30px;
}

// Screen sizes
$bp-small: 37.5em; // 600px

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.1rem;
  position: relative;
  background-color: var(--clr-White-bg);
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 101.6px);

  @media screen and (min-width: $bp-small) {
    align-items: center;
  }
}

.main-contents {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--clr-White-bg-secondary);

  @media screen and (min-width: $bp-small) {
    grid-template-columns: 1fr 1fr;
    max-width: 45rem;
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
  }
}
