.summery-view {
  padding: 2rem;

  &__heading {
    font-size: 1.1rem;
    color: var(--clr-Black);
    opacity: 0.7;
    margin-bottom: 2rem;
  }

  &__summeries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    svg {
      margin-right: 1rem;
    }

    &__summery {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-radius: 10px;

      &__score {
        color: var(--clr-Black);
        span {
          opacity: 0.5;
        }
      }

      &__category {
        margin-right: auto;
      }
    }

    &__reaction {
      background-color: var(--clr-Light-red-pale);

      &__catagory {
        color: var(--clr-Light-red);
      }
    }

    &__memory {
      background-color: var(--clr-Orangey-yellow-pale);

      &__category {
        color: var(--clr-Orangey-yellow);
      }
    }

    &__verbal {
      background-color: var(--clr-Green-teal-pale);

      &__category {
        color: var(--clr-Green-teal);
      }
    }

    &__visual {
      background-color: var(--clr-Cobalt-blue-pale);

      &__category {
        color: var(--clr-Cobalt-blue);
      }
    }
  }

  &__btn-continue {
    width: 100%;
    background-color: var(--clr-Dark-gray-blue);
    padding: 1rem;
    border: none;
    border-radius: 30px;
    color: var(--clr-Pale-blue);
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: var(--clr-Light-slate-blue);
      background-image: linear-gradient(
        to bottom,
        var(--clr-Light-slate-blue),
        var(--clr-Light-royal-blue)
      );
    }

    &:active {
      background-color: var(--clr-Dark-gray-blue);
      background-image: linear-gradient(
        to top,
        var(--clr-Light-slate-blue),
        var(--clr-Light-royal-blue)
      );
    }

    &:focus {
      outline-style: dotted;
      outline-color: var(--clr-Green-teal);
      outline-offset: 3px;
      outline-width: 3px;
    }
  }
}
